ORACLE_PASSWORD=<ORACLE_SYSTEM_PW>
ORACLE_ORDS_PWD=<ORACLE_ORDS_PW>

ORACLE_PORT=1521
ORACLE_SERVICE=xepdb1
ORACLE_HOST=xe
SYSDBA_USER=SYS
SYSDBA_PASSWORD=${ORACLE_PASSWORD}
ORDS_PWD=${ORACLE_ORDS_PWD}

